@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%
    }
}

@keyframes css {
    0% {
        width: 0%
    }

    100% {
        width: 75%;
    }
}

@keyframes javascript {
    0% {
        width: 0%
    }

    100% {
        width: 40%;
    }
}